.eocXZp:hover {
    background: #252831;
    border-left: 4px solid #2cb0e4  !important ;
    cursor: pointer;
}
.iOjbAK:hover {
    background: #2cb0e4  !important;
    cursor: pointer;
}
.eocXZp{
    color: white  !important;
}