.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icons{
  color: black;
}
.icons :active{
  color: yellow;
}
.icons:hover{
  color: yellow;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
button{
  border-radius: 30px !important;
}
button.close:focus-visible{
  outline: none;
}
/* For the "inset" look only */
html {
  overflow: auto;
}


/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 5px solid transparent;

  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(15, 236, 107, 0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(11, 150, 73, 0.4); 
}
.iconSidebar>path{
  color: rgb(75, 236, 124) !important;
}
body{
  user-select: none;
}
a{
  -webkit-user-drag: none;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80fff4 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(38, 223, 146, 0.25) !important;
}